<h4>Available Job Listings</h4>
<div class="container">
  
    <div class="col s6 cards-container">
      
<% @listings.each do |listing| %>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
      <i class="material-icons">work</i>
      <%= listing.title %> </div>
      <div class="collapsible-body"><p>
       <%= listing.desc %></p>
        <p>
          <a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="show description" 
          href="/listings/<%= listing.id %>">
            <i class="material-icons">description</i>
          </a>
          <% if user_signed_in? %>
            <%= link_to 'Apply', applications_path(listing_id: listing.id, applicant_id: current_user.id, 
            poster_id: listing.user_id), method: "post" %>
          <% end %>
        </p>
      </div>
    </li>
  </ul>
<% end %>
    </div>
</div>
